[2019-06-16 13:19] rsignell-usgs opened #5 "Install sample data following pyviz approach?"
I tried to run an example and it failed to find the example data:
[code]

Can we use the [pyviz approach to load the example data](http://pyviz.org/installation.html), something like running `xrviz examples`?

[2019-06-16 13:24] rsignell-usgs opened #6 "Don't load sample data by default"
I don't think the sample data should be imported when the package or dashboard is imported.  Loading the sample data should be a separate action.
[code]

[2019-06-17 13:09] rsignell-usgs opened #8 "consistent line spacing in GUI?"
Is it possible to use the consistent line spacing for both regions 1 and 2 shown here?
![2019-06-17_9-02-55](https://user-images.githubusercontent.com/1872600/59606529-60f0a080-90df-11e9-9e98-61d37d29cf4a.png)

It might seem silly, but I think these style issues are important for the user experience.

[2019-06-17 13:11] martindurant commented on #8
I agree, although it may be premature if we think the visual components might yet move around. I think we will probably need some pyviz people to help out with final styling and alignment.

[2019-06-17 19:04] rsignell-usgs opened #9 "Smooth animation via caching?"
The animation capability is great.  It would also be even greater if we could cache the frames for smoother animation after the 1st time through.   I realize this might not be a xrviz issue per se, but could you please look into it @hdsingh ?

I know that with [Matplotlib animation](https://matplotlib.org/api/_as_gen/matplotlib.animation.FuncAnimation.html#matplotlib.animation.FuncAnimation), you

[2019-06-17 19:06] rsignell-usgs opened #10 "Widgets to fix colormap limits"
We need widgets to fix the colormap limits.    This is useful for static maps, but is essential for animations, where you don't usually want the color limits changing from frame to frame.

[2019-06-17 19:17] martindurant commented on #10
Agreed, will probably have a double-ended slider or two sliders for max/min, set to the global max/min of the array being plotted. Will eventually also want colour scaling (sqrt, sq, log, hist, 1/x ...).

[2019-06-17 19:20] martindurant commented on #9
This is a feature that we will need pyviz's cooperation with. @philippjfr , @jbednar , where was this mentioned?

[2019-06-17 20:18] jbednar commented on #9
A HoloViews (or hvPlot) DynamicMap has a parameter `cache_size` defaulting to 500 items, which can be increased to animate larger numbers of frames efficiently (at the cost of taking more memory).  Does that help address the question?

[2019-06-18 02:39] hdsingh commented on #10
This would be implemented in the style panel.

[2019-06-19 10:57] hdsingh commented on #9
I am finding a solution, to correctly use `cache_size` with the quadmesh by discussing in [pyviz](https://gitter.im/pyviz/pyviz).

[2019-06-26 10:53] hdsingh commented on #10
Widgets to fix the colormap limits and Colour scaling have been implemented in [Style panel PR #13](https://github.com/intake/xrviz/pull/13).

[2019-06-28 17:30] milancurcic opened #17 "Colormap not found if installed from pip"
I just tried out the example in xrviz following your Medium blog post. Not a conda user, so installed from pip. If I try to plot a variable, I hit a ValueError due to missing colormap, see full traceback:

[code]

Adding matplotlib to requirements.txt fixes this. Let me know if you'd like a PR.

[2019-06-28 17:32] martindurant commented on #17
@hdsingh , please clarify install installations with pip (in the blog post and in the README). We should also re-release on conda after your current PRs are in.

[2019-06-29 07:57] hdsingh commented on #17
@milancurcic This has been resolved. Now you don't need to add matplotlib to requirements.txt. Also please have a look at the [installation instructions](https://github.com/intake/xrviz/blob/master/README.md#installation).

[2019-06-29 19:16] milancurcic commented on #17
Great work, thank you for the prompt turnaround. I was able to install with pip and test successfully.

However, regarding your install instructions: Until you have a stand-alone CLI server executable (e.g. `xrviz` or similar) that is being installed during `pip install`, this is not a useful install sequence. If you do this:

[code]

Then the examples/* are not installed. Instead, this will work:

[2019-06-29 21:13] martindurant commented on #17
Agree, I already suggested elsewhere that examples/ (or at least one) should be included as a module

[2019-06-30 01:12] hdsingh commented on #17
@milancurcic This is being resolved  in https://github.com/intake/xrviz/pull/20.  Thanks!

[2019-06-30 18:05] milancurcic commented on #17
Thanks, just tested this with hdsingh/xrviz:example, it works as advertised :). Feel free to close this when merged.

[2019-07-03 21:42] josephhardinee opened #21 "1D variable support"
In processing a file with a mix of 1D and 2D data, it seems I cannot get it to plot a line plot for the 1D data. I did see that line plots were supported for some types after aggregation. It's quite possible I am doing something wrong so generally the workflow I tried was:
1. Picking just time as a coord, and also letting it set the two coords (time and bin in my case).
2. On second tab when I sel

[2019-07-03 22:01] martindurant commented on #21
We are focusing for the moment on 2+D output, since many of our design decisions are driven by higher-dimensionality data. For example, projection and mesh styling simply make no sense for 1D; we are thinking that there are already many ways to plot 1D data. However, we may re-allow this later (indeed, we accidentally had 1D plots pop up before).

The task for next week is to allow plotting of a "

[2019-07-03 23:10] josephhardinee commented on #21
Thanks for the quick response and that sounds quite reasonable. We're mostly interested in the 1D so we can use this as kind of a one stop shop replacement for ncview. In anycase thanks for the great software package.
I assume you'd like this issue closed so as to not clutter issue tracker?

[2019-07-03 23:12] martindurant commented on #21
Let's call it a feature request and leave it live for now :)

[2019-07-04 04:48] hdsingh commented on #17
@martindurant Can this be closed now?

[2019-07-04 12:44] #17 closed

[2019-07-11 21:51] CommonClimate opened #22 "Web visualization"
Hello,

I'm interested in web-based visualization of netCDF data. Are there plans for xrviz to connect with a web front-end, both for locally-hosted netCDF files, or via OPeNDaP for remotely-hosted files? In any case, if you have not considered such applications of the tech, I encourage you to think about it, and will be happy to provide a use case or two!

Beyond visualization, I'd also like to f

[2019-07-12 02:03] hdsingh commented on #22
Hi @CommonClimate,

XrViz is already having web-based frontend in the sense that interface dashboard generated is displayed in the browser. You can easily visualise local and remote files by:
[code]

[2019-07-12 04:02] martindurant commented on #22
I would like to add, that the xrviz interface can be embedded in any Panel layout you might want, or, of course, be included in a site using standard HTML techniques. The former of these two options is the one which [intake](https://intake.readthedocs.io) plans to take, thus unifying the finding and loading of data-sets with their interactive visualisation.
(xarray can already load openDAP URLs di

[2019-07-12 14:10] CommonClimate commented on #22
Thank you @hdsingh and @martindurant for your quick and informative answers. I had a look at the intake doc and it looks very promising. However, given the examples provided, I am not exactly sure how I would go about doing what you say (embedding the xrviz interface in a Panel).  If you have a notebook/example demonstrating that, I'd love to see it.

[2019-07-12 14:48] martindurant commented on #22
Ah, I should have been clearer. Intake aims to embed the xrviz interface in its own GUI, but does not yet do so. Watch the space! For the time being, though, it may already be useful to you as a means of finding and loading your xarray (i.e., netcdf) data.

There are not yet any examples of how to embed xrviz in other applications, but there should eventually be. For the time being, I would advise

[2019-07-12 17:56] CommonClimate commented on #22
Ah, my problem was that I am not plugged into the Python viz ecosystem, so didn't know about Panel as a package. After perusing the doc, it does seem like it's ideally suited to what we want to do. Do feel free to reach out if you need guinea pigs to test things out for you.
Cheers

[2019-07-23 15:57] martindurant commented on #22
Closing this as resolved, but please do follow our progress!

[2019-07-23 15:57] #22 closed

[2019-07-23 15:57] #6 closed

[2019-07-23 15:57] #10 closed

[2019-08-02 17:58] martindurant opened #30 "Top level callable"
I recommend that there should be something in the top-level `__init__` which is the main entry-point for users, e.g.,
[code]

so that we can recommend the normal usage as
[code]

[2019-08-02 21:42] martindurant opened #31 "quantile doesn't work for dask-powered xarrays"
The code currently uses quantiles to set the colour-map limits, unless explicitly given by the user. If the data has dask-arrays internally, however, then you just get an error. I suppose we should explicitly `.compute()` the first slice in this case, before attempting the quantile, and calculate min/max when doing the whole data-set.

[2019-08-05 17:20] martindurant opened #33 "incorrect logger name"
See line https://github.com/intake/xrviz/blob/master/xrviz/sigslot.py#L5

[2019-08-05 17:31] hdsingh commented on #33
Thanks for this issue. This will be corrected in https://github.com/intake/xrviz/pull/32 (since minor change is required).

[2019-08-08 18:45] martindurant commented on #31
Note that [da.percentile](https://docs.dask.org/en/latest/array-api.html#dask.array.percentile) is implemented and, when using the tdigest approximate method, is pretty efficient. It only works 1d, though, but reshaping should be cheap in this case. @hdsingh , your thoughts here? This is critical, because it prevents visualisation of dask xarrays, i.e., anything bigger than memory.

[2019-08-08 23:24] jhamman opened #36 "unpin holoviews in requirements.txt?"
Would it be possible to unpin holoviews? We're finding that using xrviz is making downstream package management at this time?

https://github.com/intake/xrviz/blob/e39c38a9004e445f52d611724f582c5b39c0da46/requirements.txt#L2

cc @scottyhq

[2019-08-08 23:43] martindurant commented on #36
@hdsingh , is there any reason to keep this pin?

[2019-08-09 05:41] hdsingh commented on #36
This specific version was added about 2 weeks ago to get correct lon/lat values on the hover. The latest version of holoviews doesn't show correct values. Everything else works fine with the latest version.

[2019-08-09 06:44] hdsingh commented on #36
https://github.com/pyviz/holoviews/issues/3891

[2019-08-09 07:59] hdsingh commented on #31
Visualisation of dask xarrays is absolutely necessary. I am looking into dask docs to understand its usage better before attempting to solve this issue.

[2019-08-10 07:22] hdsingh commented on #31
I am trying to use da.percentile and reshape xarray but facing the following issue:

[code]
@martindurant Can you please help me figure out the correct way to find quantile and reshape xarrays?

[2019-08-11 05:36] hdsingh commented on #31
Thanks! I got your reply on Dask gitter.

[2019-08-13 18:22] #31 closed

[2019-08-13 18:22] #30 closed

[2019-08-16 20:12] jbusecke opened #39 "Problem with dask arrays using jupyterlab"
First of all thanks a lot for this great tool! I can see this becoming a standard tool for quick exploratoin of nc file based data for me in the future.

I am working with very large ocean model files and would like to do initial quality control using xrviz.
I am however not able to produce plots when my xarray data is in a dask.array (which is absolutely essential since my files can be several TB

[2019-08-16 20:14] martindurant commented on #39
Are you saying that the dask version works OK for you with `show()`?

[2019-08-16 20:42] jbusecke commented on #39
I have to apologize. I had a version conflict (where the conda version superseeded the one installed from source).

It works nicely now that I fixed the version!
Closing this.

[2019-08-16 20:42] #39 closed

[2019-08-28 23:47] hdsingh commented on #33
@martindurant This has been corrected in #32. I think this issue can be closed now.

[2019-08-28 23:56] hdsingh opened #41 "Make a short video demonstrating the interface"
It would be good to have a short, 10 minute video demonstration of the interface. The video can be uploaded on Youtube and linked in documentation. It will help the newcomers in familiarising quickly with the interface.

[2019-09-04 11:58] rsignell-usgs opened #42 "New release?"
The latest release is 0.1, released July 16: https://github.com/intake/xrviz/releases

Time for a new release?

[2019-09-04 12:01] rsignell-usgs opened #43 "Update https://xrviz.readthedocs.io"
Looks like https://xrviz.readthedocs.io need to be updated with the latest doc changes.

[2019-09-04 12:02] rsignell-usgs opened #44 "Capture the current state of xrviz for reuse"
We can currently specify the state of the GUI to xrviz, but we also should add the ability to capture the current state of xrviz for reuse.

[2019-09-04 12:13] martindurant commented on #42
@hdsingh , if you have a PYPI account, I can add you as a maintainer there, and you can do a release!

[2019-09-04 12:29] martindurant commented on #42
There is also 0.1.1 from the end of July, but the tag didn't make it until just now. It is on pypi and conda-forge.

[2019-09-04 14:16] hdsingh commented on #44
This would require capturing the:
- zoom level
- location where it has been zoomed
- location of taps (in case user is extracting time series)

Please add here what else you think would be important to capture the state.

[2019-09-04 14:18] hdsingh commented on #42
I have created an account on PYPI : [pypi.org/user/hdsingh/](https://pypi.org/user/hdsingh/).

[2019-09-04 14:20] martindurant commented on #44
Start without zoom/pan information. The location of taps is already known to the interface, and it is a good idea to be able to save and provide these.

[2019-09-04 14:29] hdsingh commented on #42
@martindurant Thanks for adding me! I will go through this [guide](https://packaging.python.org/tutorials/packaging-projects/) to know more about making a release on pypi.

[2019-09-04 14:31] martindurant commented on #42
I emailed you separately with instructions.

[2019-09-04 14:38] martindurant commented on #43
done

[2019-09-04 14:38] #43 closed

[2019-09-04 17:37] hdsingh commented on #42
Thanks for the instructions. I will release `0.1.2` shortly.

[2019-09-05 03:30] hdsingh commented on #42
The new release is available now (https://pypi.org/project/xrviz/#history).

[2019-09-05 11:45] #42 closed

[2019-09-05 12:25] rsignell-usgs commented on #42
And on conda-forge!  Nice work!
![2019-09-05_7-02-56](https://user-images.githubusercontent.com/1872600/64341608-b63d9f00-cfb6-11e9-88f0-9af48f8ec046.png)

[2019-09-06 01:21] hdsingh commented on #33
Since this issue has been resolved, I am closing it.

[2019-09-06 01:21] #33 closed

[2019-09-30 15:11] jsignell commented on #5
I think this can be closed.

[2019-09-30 15:11] #5 closed

[2019-10-07 22:33] jhamman commented on #36
This needs to be reopened.

[2019-10-08 16:00] rsignell-usgs opened #47 "Allow passing of cartopy_crs"
It would be nice to allow `xrviz` to handle a `metpy`-generated `cartopy_crs`  passed as part of the `initial_params` for `xrviz`.
`hvplot` handles it just fine, but using it in the `initial_params` returns
`TypeError: getattr(): attribute name must be string`.   See:

https://nbviewer.jupyter.org/gist/rsignell-usgs/56d8ff54708a95b45bb46f55a0677ab0

[2019-10-08 16:45] hdsingh commented on #47
As of now `initial_params`'s values are only in the form of strings and not the form of custom objects such as `cartopy.crs`. It is a good idea to also allow passing the values for projection options directly in the form of these objects. Values in the form of `string` will also be allowed.

I will look into this issue after 11Oct (exams now).

[2019-10-08 16:53] hdsingh commented on #47
@rsignell-usgs (for now you can directly pass it in the form of string such as "LambertConformal"). Initially our idea was to pass the initial params with a YAML file, so only values in the form of strings were allowed.

[2019-10-11 17:17] hdsingh commented on #47
This is how I think it could be done:
[code]

Lets say this is the crs object parsed by metpy. If we want to pass just the name of this object it could be done by `crs.__class__.__name__`. However, this object can't be passed directly to `hvplot` because we also need to display its properties in the `crs params`.
So the values of default parametes (along with globe's parameters) need to be extract

[2019-10-15 18:32] martindurant commented on #47
well, it *could*, but would be an alternate code path. This could be very OK, you can use the passed-in CRS object or you can set your own parameters. Extracting out the parameters from a passed-on object and populating the fields would only ever be on a best-attempt basis, because there are many options we cannot surface in the interface.

[2019-10-15 18:34] martindurant commented on #47
In summary, I think this is a reasonable request that we can allow, when someone makes the effort to implement it.

[2019-10-23 00:38] hdsingh commented on #36
This has been resolved in #48.

[2019-10-23 00:38] #36 closed

[2019-11-22 12:20] rsignell-usgs opened #56 "Display calendar dates in hover"
Currently the hover tool on the series plots is showing linux time (or something) rather than calendar (gregorian) dates:
![2019-11-22_7-18-03](https://user-images.githubusercontent.com/1872600/69425195-7ace8900-0cf8-11ea-952c-c44776f4d70f.png)

[2019-11-22 12:27] rsignell-usgs opened #57 "Return to dropdown selection selection of variables"
I think the "start typing w/ autocomplete" is cool, but I think it's more intuitive (and even easier) to pick a variable from a drop down list, as we had before.   A new user (including me a few minutes ago) wouldn't know what to do when encountering this:
![2019-11-22_7-22-34](https://user-images.githubusercontent.com/1872600/69425813-a56d1180-0cf9-11ea-924f-34ddeb018f33.png)

[2019-11-22 12:30] rsignell-usgs opened #58 "Point binder button to great lakes notebook w/ presets"
Let's point the binder button to the great lakes notebook, with presets enabled to give this display:
![2019-11-22_7-22-01](https://user-images.githubusercontent.com/1872600/69425940-ecf39d80-0cf9-11ea-8c30-c30e73104af4.png).   (I'm not sure whether we can preset station locations, but that would be pretty cool if we could)

[2019-11-22 13:26] hdsingh commented on #57
I also think that with dropdown list it would become more natural and intuitive to  select a variable. I was also a bit unsure (just now when I looked it for first time) regarding next course of action.

Besides that this new xarray repr and addition of help in tabs is looking amazing!

[2019-11-26 16:51] jsignell commented on #57
Sorry, I probably should have elevated that change more before merging it. I'll switch it back now.

[2019-11-26 17:41] #57 closed

[2019-11-26 18:01] rsignell-usgs commented on #58
@hdsingh , is it possible to enable the time series plots via the `initial_params`?
(as in https://github.com/reproducible-notebooks/Explore-HRRR-with-XrViz/blob/master/HRRR_dashboard.ipynb)

[2019-11-27 02:12] hdsingh opened #60 "Incorrect time series plot when `extract along` passed in `initial_params`"
Time series extraction works fine, however upon specifying the `extract along` parameter in `initial_params` it produces constant straight line graph. Tap locations are also not available.

For temporary basis, this problem could be solved by de-selecting and re-selecting the `extract along` dimension, but it would be good to have a permanent solution.

![Screenshot from 2019-11-27 07-38-20](https

[2019-11-27 02:14] hdsingh commented on #58
The option to pass `extract along` in `initial_params` is available, however it is not working correctly (#60).

[2019-11-27 02:21] hdsingh commented on #60
Also automatic zoomout happens while extracting time series, in case of passing `x`,`y` as data coordinates. (`'Set Coords': ['lat', 'lon'],`). This happens when the main graph is tapped upon.

[2019-11-27 02:26] hdsingh opened #61 "Data disappears with `global_extents=true`"
Reproducible code:
[code]

[2019-11-27 02:47] hdsingh commented on #61
I works fine, I think i was doing something wrong.

[2019-11-27 02:47] #61 closed

[2019-11-27 13:31] rsignell-usgs opened #62 "coastlines instead of basemap with initial_params"
I tried to set the basemap to OSM via `initial_params` but got coastline instead.   @jsignell or @hdsingh do you see what's going wrong here:
![2019-11-27_8-21-20](https://user-images.githubusercontent.com/1872600/69727249-252b1f80-10f0-11ea-979f-b54ccd33ad96.png)
![2019-11-27_8-21-40](https://user-images.githubusercontent.com/1872600/69727254-28261000-10f0-11ea-8571-deb674b89401.png)
The actual n

[2019-11-27 14:35] jsignell commented on #62
I missed updating one bit when I merged #55. I'll open a PR

[2019-11-27 14:39] jsignell commented on #60
Do you know whether this is a regression or did it never work?

[2019-11-27 14:47] #62 closed

[2019-11-28 10:15] hdsingh commented on #60
I checked in previous versions, which also have same behaviour. So I think this never worked.

[2019-12-05 12:24] rsignell-usgs opened #65 "New release for AGU?"
@hdsingh or @martindurant , could we get a new release before AGU next week?   Annie Burgess from ESIP will be including xrviz in her talk and it would be nice to have the latest functionality from master (which we are already using in the binder demo).   And there probably won't be much more development for a while now that @jsignell has moved to [SaturnCloud](https://www.saturncloud.io).  😢

[2019-12-05 13:06] martindurant commented on #65
@hdsingh , can you handle this?

Oh, and I fully expect @jsignell to be working *flat out* on this project :)

[2019-12-05 15:02] hdsingh commented on #65
Yes, sure. I made a [PyPi release](https://pypi.org/project/xrviz/0.1.4/#history). Conda-forge release would also be available shortly.

[2019-12-05 15:03] martindurant commented on #65
Thanks @hdsingh !

[2020-03-30 20:40] martindurant opened #68 "metpy warning"
@rsignell-usgs , any idea what the following warning means? Seen when looking at the great-lakes data

[code]

Is mapping no longer done??

[2020-03-31 16:50] rsignell-usgs commented on #68
@martindurant,  xrviz is trying to use metpy to figure out if there are lon,lat variables to use for the dashboard coordinates.

@dopplershift, what would be the best way to use metpy to do this?

Currently the code is trying:
[code]
 But I'm not sure how this ever worked for this dataset!

If we take a look at the great lakes dataset:
[code]
we get:
[code]
but while
[code]
returns
[code]
trying t

[2020-03-31 17:33] hdsingh commented on #68
@rsignell-usgs,  As mentioned in [this comment](https://github.com/intake/xrviz/blob/master/xrviz/fields.py#L247), metpy is able to guess, if the data coords are set or available, so setting the coords by
[code]
before parsing works fine. However the deprecation and future removal warning is there.

[2020-03-31 18:14] rsignell-usgs commented on #68
Thanks @hdsingh !   So the code below has this behavior with metpy:
* `metpy=0.11` returns value "lon"
* `metpy=0.12` gives deprecation warning, returns value "lon"
* `metpy=1.0RC1`, does not return the value "lon".  (says "AttributeError: x attribute is not available.")

[code]
@dopplershift, what would be a best way to modify this for the new metpy?

[2020-03-31 19:16] dopplershift commented on #68
Apologies for the inconvenience. The current (1.0) way would be:
[code]

The relevant issue is Unidata/MetPy#1090, describing the rationale for the changes.

[2020-04-15 14:09] martindurant commented on #68
@hdsingh , do you have any plans to change the code to cope with the new version of metpy?

[2020-04-16 10:34] hdsingh commented on #68
I looked into this. Changing [this line](https://github.com/intake/xrviz/blob/master/xrviz/fields.py#L245) to
[code]
according to current (`metpy=1.0.0rc1`)  works fine for all the datasets. However this works fine on `python=3.8` and I have been unable to install `metpy=1.0.0rc1` on `python=3.7`. I am looking into this. Once I find a way to install it on `3.7` using conda, I will create a PR.

[2020-04-16 12:08] rsignell-usgs commented on #68
@hdsingh , is this the problem you are having?
with `environment.yml` of:
[code]
I'm getting:
[code]
If so, perhaps @ocefpaf has insight?

[2020-04-16 12:22] martindurant commented on #68
I would suggest specifying the tornado version (6.0.1?) if there is a problem.
For the change in code, I would put a version check in: if <=0.11, use previous version, else use new.

[2020-04-16 13:01] hdsingh commented on #68
@rsignell-usgs Yes, somewhat similar. Since I tried installing in already existing environment, I got
[code]

So version checking seems a better option here. However we will still get warning message only in case of `metpy 0.12`.

[2020-04-16 13:10] martindurant commented on #68
If it was already warning, then I suspect that the new method must be working by that version.

[2020-04-16 13:10] ocefpaf commented on #68
@hdsingh and @rsignell-usgs  what is the result of `conda info` and how are you setting your `.condarc`?

I was able to use the environment from https://github.com/intake/xrviz/issues/68#issuecomment-614612394 without any problems with `conda 4.8.3` and the following `.condarc`:

[code]

This is the `conda list` of the environment, note that I got build number 1 for tornado, which indicates you pr

[2020-04-16 14:48] rsignell-usgs commented on #68
I have problems on windows if I set my `.condarc` to:
[code]
But I'll try on linux

[2020-04-16 16:13] ocefpaf commented on #68
I'll get a Windows machine later today to debug that. We probably need to rebuild something there :-/

[2020-04-16 17:34] hdsingh commented on #68
@ocefpaf  I have been able to install `metpy 1.0.0rc1` on `python 3.7` according to above specifications, However there are errors due to `pint`. Any ideas on how to resolve these?

<details>
    <summary> Code: </summary>

[code]

</details>

<details>
  <summary>Error Details</summary>

[code]
</details>

[2020-04-16 17:40] ocefpaf commented on #68
I'm not a `pint` user. I only use `cf-units` b/c it is compatible with `udunits2` standards. Maybe @dopplershift can help you there.

[2020-04-17 07:24] hdsingh commented on #68
The following installation works:
[code]

[2020-04-17 08:41] dopplershift commented on #68
It looks like for some reason pint will only parse "celsius" and not "Celsius" (I just opened hgrecco/pint#1081).

[2020-04-23 09:25] koldunovn opened #70 "Version on binder does not plot."
Currently, the version that is opened with the binder does not make the  plot, even if I click the `Plot` button.

[2020-04-23 12:39] martindurant commented on #70
I believe this is the same as https://github.com/intake/xrviz/pull/69
I will try to make some time to put things right.

[2020-04-23 14:36] martindurant commented on #70
Works OK now?

[2020-04-23 17:23] rsignell-usgs commented on #70
I clicked the binder link, ran the notebook, got a plot, but then this:
https://www.youtube.com/watch?v=zWabYFZt-G8

[2020-04-23 17:29] martindurant commented on #70
Constant unzooming! Is there an issue for this?

[2020-04-23 17:33] #58 closed

[2020-04-23 18:40] rsignell-usgs commented on #70
Do you think it's a holoviews/geoviews issue or an xrviz issue?

[2020-04-23 19:55] philippjfr commented on #70
Yeah something in holoviews. It's probably to do with aspect handling. Is this using recent HoloViews yet?

[2020-04-23 19:57] martindurant commented on #70
The script uses "current" versions (whatever conda gives us from conda-forge on py37)

[2020-04-23 19:58] martindurant commented on #70
@rsignell-usgs , if you still have this open, would be good to post the versions binder ended up using

[2020-04-23 20:08] rsignell-usgs commented on #70
[code]

[2020-04-23 20:58] philippjfr commented on #70
Okay, so definitely latest, I'll try to reproduce.

[2020-04-23 21:02] philippjfr commented on #70
Okay, I see the same thing. Will see if I can get a 1.13.3 release with a fix out very soon.

[2020-04-24 08:54] koldunovn commented on #70
The plot works for me now on the binder, thanks!

[2020-04-24 13:22] rsignell-usgs commented on #70
@philippjfr I'm so glad you could replicate the zooming out feedback loop issue and it sounds like you see the problem also.  Awesome!

[2020-04-24 13:23] philippjfr commented on #70
Just wish we had an automated way to catch these kinds of regressions. Unfortunately testing client-server interactions in a browser is hard.

[2020-08-04 19:41] hdsingh opened #71 "Volume Rendering for multi-dimensional datasets"
For the project `Web based volume rendering and 3D/4D visualization of Model Forecast (NM389-ISRO)` of [Indian Space Research Organisation](https://www.isro.gov.in/) and as a part of [Smart India Hackathon 2020](https://www.sih.gov.in/), I along with my team members tried to further extend the interface of XrViz to have capabilities for generating a 3D volumetic cube of the data points. Due to tim

[2020-08-04 20:43] philippjfr commented on #71
Very, very cool. Excited to see where this goes.

[2020-08-05 13:39] martindurant commented on #71
Should we expect a PR and discussion around this? If you want to, I'd be happy to wait for the more performant subsample/vtk output. I believe this comes with an embedded colour scale widget, which is critical for configuring the appearance.

I am wondering whether xrviz might be overloaded by both 2D and 3D output. Finding where to put all of the rendering options is already a challenge!

[2020-08-06 14:55] hdsingh commented on #71
It is difficult to fit all three graphs, simply on the screen area, but I feel that benefits of having more information and better analysis/exploration can outweigh this fact.

My aim was to introduce this nice feature to the XrViz community, start a discussion and provide a direction, in case anyone wants to contribute and make this tool even more better and useful. However, it is a bit difficult

[2020-11-10 18:48] gewitterblitz opened #72 "Add custom colormap and colorbar ticklabels"
Hi,

I have two questions:

Here's my implementation of an animation using an xarray dataset:

[code]

However, when I use the custom cmap `ncarpid`, it is not recognized by xrviz.

Here's an example of the dashboard generated from code snippet above:

<img width="878" alt="Screen Shot 2020-11-10 at 1 43 43 PM" src="https://user-images.githubusercontent.com/13985417/98717294-dd31f680-235a-11eb-88c

[2020-11-10 19:06] martindurant commented on #72
If hvPlot can accept it as a parameter, there is no reason xrviz shouldn't allow custom colour maps or labels - but this is not implemented yet. I don't know really how we would be able to squeeze such specific options into the interface; perhaps we could allow for some arguments that are passed through and override whatever is selected in the interface.

[2020-11-10 19:31] gewitterblitz commented on #72
hvplot indeed accepts colormap. Here's an example:

[code]

<img width="731" alt="Screen Shot 2020-11-10 at 2 24 40 PM" src="https://user-images.githubusercontent.com/13985417/98723542-87604d00-2360-11eb-9913-33da67cd77f6.png">

I think I am stuck in between xrviz and a pure hvplot based animation approach because even though I could generate a static hvplot plot, the animation based approach prov

[2021-03-12 15:38] tivincent opened #73 "Xrviz + ocean simulations : vertical section"
Hello !

I am working with 4D ocean simulations outputs (dimension : lat/lon, level, time)

A useful 2D-plot could be a vertical section along a specific line. It needs to interpolate the data on the vertical (if sigma levels).
(And so, it will be also possible to have a real vertical profile (curve line) for a specific point, in case of sigma).

Another useful need could be to be able to load ano

[2021-03-12 20:52] martindurant commented on #73
Adding a tool to select a 1D line on the current plot is very doable with current hvplot tooling. Plotting the section or 1D aggregate on that line will involve interpolation of the original data, so not so straight-forward. You are most welcome to have a go!

As to multiple datasets, this is a tricky thing to lay out as we are already crowding the available space. Perhaps you can come up with out

[2021-03-15 14:46] tivincent commented on #73
For vertical section, ok, I think I will start working on it.
For multiple datasets : in a first step, just loading csv files at one geo point should not be too heavy i think.
I imagine another tab (in control.py) in order to manage the load of such files (with panel.widgets.FileSelector  ?) and propose for example some checkbox (or list) in order to plot it or not on the 1D plot (and in this case

[2021-03-15 14:52] martindurant commented on #73
I am, of course, happy to see any contribution you propose. Obviously, starting with the simplest part first is likely to be best, and help you assess how much time the more complicated parts might take.

[2021-04-21 01:19] pgierz opened #74 "TextInput None Error"
Hello,

I'm trying to use xrviz with a multi-file Xarray dataset containing netcdf data. Originally, the data looks like this:
![Screen Shot 2021-04-20 at 6 07 31 PM](https://user-images.githubusercontent.com/2444231/115482332-491a6400-a203-11eb-9071-5ceee673616f.png)

I have various data variables, defined in Lon/lat/time (and sometimes vertical level). The output unfortunately has rather bad tim

[2021-04-21 01:49] pgierz commented on #74
Note that setting these two lines to empty strings seems to solve that problem:
https://github.com/intake/xrviz/blob/b5969232b14aad408cbceceea41469dae6cf3235/xrviz/style.py#L93-L96

However, I am not sure if that causes other problems. I'm happy to send a PR for that if the developers agree.

[2021-04-21 13:25] martindurant commented on #74
You can set CRS as detailed on [this page](https://xrviz.readthedocs.io/en/latest/set_initial_parameters.html#set-initial-parameters), but there is no automatic way to extract or guess this.

Your proposed solution seems like a reasonable thing to do - text boxes should have string values, not `None`. However, it's been a while since I've looked at this code.

@hdsingh , do you agree with this cha

[2021-04-21 18:24] hdsingh commented on #74
Yes, it looks reasonable. Although we are converting the input into string later on [here](https://github.com/SIH-SuperUsers/xrviz/blob/master/xrviz/dashboard.py#L226), not sure what's exactly causing this issue. @pgierz  Can you please also verify if this works fine for the [sample dataset](https://github.com/SIH-SuperUsers/xrviz/blob/master/xrviz/sample_data/great_lakes.nc) as well.

@martindura

[2021-04-21 18:41] martindurant commented on #74
Thanks, @hdsingh

@pgierz , don't hesitate to ask on the intake tracker.

[2021-04-21 22:02] pgierz commented on #74
Hi @hdsingh, sure. I did a clean install just to be safe. I basically did the Conda-variant of the TravisCI config:

[code]

That resulted in all tests passing:
[code]

Running `xrviz show xrviz/sample_data/great_lakes.nc` technically works, yet has the same grayed-out plot button as in the example using my own data. My proposed change fixes the example as well as my own data, see #75

@martindura

[2021-04-22 12:48] #74 closed

[2021-04-22 12:49] martindurant opened #76 "CI failing"
The CI is running on Travis and the environment is not resolving correctly. This should be addressed, and this would be a convenient time to switch to github-actions, as other dask and intake projects have done.

[2021-04-30 14:11] rgommers opened #77 "Binder not working, xarray not installed"
I just tried the Binder button in the readme; executing the first cell of the notebook ends in:
[code]

[2021-04-30 14:32] martindurant commented on #77
@hdsingh , do you have time to investigate? It seems to me that a simple environment file for binder would be better than a postbuild script.

[2021-04-30 18:56] hdsingh commented on #77
I looked in for sometime and tried using this [environment.yml](https://github.com/hdsingh/xrviz/blob/master/binder/environment.yml). Although in the binder logs we have
[code]
but still not able to import xarray. Not sure of the root cause.
[Complete Logs](https://gist.github.com/hdsingh/b3c82a2ef7b555ab993d3803879e46ea)

[2021-04-30 19:14] martindurant commented on #77
Perhaps building this way means that the environment is not correctly activated on startup?

[2021-05-02 17:53] hdsingh commented on #77
@rgommers Please feel free to explore more as binder example is working now. [Example Link](https://mybinder.org/v2/gh/intake/xrviz/master?filepath=examples%2Fgreat_lakes.ipynb). And thanks for bringing this to attention. :)

[2021-05-02 19:59] rgommers commented on #77
Works like a charm now, thanks!

[2021-05-02 19:59] #77 closed

[2021-07-06 16:42] michaelaye opened #79 "First Binder example fails from missing data at URL"
OSError: [Errno -90] NetCDF: file not found: b'https://opendap.co-ops.nos.noaa.gov/thredds/dodsC/NOAA/LOOFS/MODELS/2021/04/30/glofs.loofs.fields.forecast.20210430.t12z.nc'

[2021-07-06 16:57] martindurant commented on #79
Bahh. Someone will need to find another appropriate dataset, not too big but interesting.

[2021-10-28 20:55] zmoon opened #80 "CLI doesn't work in Windows when installed with `conda`"
Invoking `xrviz` gives this:
[code]
I installed from `conda-forge`.

With a `pip` install it is fine (`xrviz` is a `.exe`).

[2021-10-28 21:04] martindurant commented on #80
Agree, there should probably not be any launch script specific to conda beyond whatever pip does. What is it exactly that goes wrong with your invocation?

(Note that xrviz was mainly conceived as callable code or for in the jupyter notebook.)

[2021-10-28 21:13] zmoon commented on #80
It seems like with the Conda install, we get an `xrviz` script that would work in a UNIX-like. What I posted above is the contents of the `xrviz` file. Invoking `xrviz`, Windows asks what you want to do with the file. Choosing a text editor I see the file contents that I posted.

Installing with Pip instead, it builds the proper "script" during the Setuptools process, which on Windows is a binary

[2021-10-28 21:17] martindurant commented on #80
I don't see anything in https://github.com/conda-forge/xrviz-feedstock/blob/master/recipe/meta.yaml that would cause this - it just calls pip and that's all. https://github.com/intake/xrviz/blob/master/setup.py#L27 also looks standard. Maybe raise this at the feedstock and ping a conda-forge admin?

[2021-10-28 21:20] zmoon commented on #80
I notice some other projects specify the entry points in the `meta.yaml` (in addition to the Setuptools), e.g., https://github.com/conda-forge/tqdm-feedstock/blob/master/recipe/meta.yaml

Maybe that would fix this?

[2021-10-28 21:21] martindurant commented on #80
I honestly don't know. It could be a change since when this package was last released, nearly two years ago.

[2021-10-28 21:43] rsignell-usgs commented on #80
@ocefpaf, what do you think about blowing away the feedstock and starting over with a grayskull created one?

[2021-10-29 15:46] ocefpaf commented on #80
No need to start a new one. Just update the current one with the entry_point. Doing it now...

[2022-10-08 20:50] gregorhd commented on #17
Hi all, I'm getting this error message in the traceback to a Panel app I'm deploying through voila on Heroku, which uses pip.

"cet_fire_r" throws the error, "fire_r" does not.

Tried adding matplotlib and colorcet to the requirements.txt (without indicating version numbers) but to no effect.

The requirements.txt reads:

[code]

Any ideas what I need to add to avail of the (fantastic) colorcet cm

[2022-10-11 14:03] martindurant commented on #17
I guess not much development has happened here for a while, and these pinned dependencies are out of date. I would imagine you can safely update all the required packages to latest and have a pretty good chance of everything working. Would be willing to run the experiment?

(@hdsingh , so you still have an interest in this project?)

[2022-10-11 17:28] martindurant commented on #17
@philippjfr , is anyone at holo interested in taking this project over, as a counterpart or adjunct to `hvplot.explorer`?

[2022-10-11 18:54] philippjfr commented on #17
Good question, I certainly don't have the bandwidth but we should still consider what to do with the codebase. @jbednar and @maximlt, what do you think?

[2022-10-11 21:08] maximlt commented on #17
I didn't know/remember xrviz existed. I'd have to try it out to see how close it is to `hvplot.explorer`. I checked pypistats, it had about 60 downloads last month.

[2022-10-11 21:15] jbednar commented on #17
xrviz is a great example of where xarray hvPlot Explorer should aim for, but now integrated into hvPlot and supported.

[2022-10-12 16:42] martindurant commented on #17
Indeed, xrviz was pretty complete and handy, and I would vote for including it directly in hvplot alongside the dataframe explorer. Of course, that happens to make life easier on me!